{% extends 'kvmvdi/base.html' %}
{% load static %}
{% block title %}Quản lý Flavors{% endblock %}
{% block js %}  
{% endblock%}
{% block content %}
    
        <!-- Start Page Content -->
        <div class="row">
            
            <!-- /# column -->
            <div class="col-lg-12" id="info_user">
                <div class="card">
                    <div class="card-title">
                        <h4>Quản lý Flavors</h4>
                    </div>
                    {% csrf_token %}
                    <div class="card-body">
                        <table id="list_flavors" class="display nowrap table table-hover table-striped table-bordered list_flavor_client" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Ram (GB)</th>
                                    <th>VCPUs</th>
                                    <th>Disk</th>
                                    <th>Actives</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for fl in flavors %}
                                <tr>
                                    <td>{{fl.ram}}</td>
                                    <td>{{fl.vcpus}}</td>
                                    <td>{{fl.disk}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger delete_flavor" id="{{fl.id}}"data-toggle="tooltip" title="xóa">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
       </div>     
<!-- End Container fluid  -->
<!-- footer -->
<!-- End footer -->
</div>

<script src="{% static 'js/base-js/datatables.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
<script src="{% static 'js/superadmin/flavors.js' %}"></script>
{% endblock%}
