django==2.1.2
gunicorn
channels
channels_redis
simplejson
mysqlclient
python-novaclient
python-neutronclient
python-keystoneclient
python-cinderclient
python-glanceclient
django-cryptography
cryptography
django-rq
rq
Twisted[tls,http2]
